conda install -c conda-forge tensorboardx
pip install -U protobuf
conda install -c conda-forge opencv
conda install -c conda-forge fvcore
conda install -c conda-forge dataclasses
conda install -c iopath iopath
conda install pytorch==1.6.0 torchvision==0.7.0 cudatoolkit=10.2 -c pytorch
conda install -c anaconda simplejson
pip install pytorch-swats